# Contact form endpoint (Formspree or your backend endpoint)
# Example Supabase Edge Function: https://vkapuxjiyybdppaiamnu.supabase.co/functions/v1/contact-form
VITE_CONTACT_ENDPOINT=

# Supabase configuration
VITE_SUPABASE_URL=https://vkapuxjiyybdppaiamnu.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=

VITE_ADMIN_ACCESS_KEY=
